<nav class="navbar navbar-ligth bg-dark " >
    <a class="navbar-brand"  href="/">
    
        <h2 style="color:white"><img class="img" width="40px" src="/IMG/avatar.jpeg" alt="">  Alfredo Silva DEV </h2>
       
    </a>
</nav>